//Header
$red : red;

$selection_background : #03020F;

$menu_ref_title : #FDFCF0;
$menu_ref_sub : #DDDCD0;
$menu_current_color : #03020F;
$menu_current_background : white;
$header_background : #0B333F;
